pip install alabaster
pip install Babel
pip install click
pip install docutils
pip install Flask
pip install Flask-Cors
pip install Flask-SQLAlchemy
pip install imagesize
pip install itsdangerous
pip install Jinja2
pip install MarkupSafe
pip install numpy
pip install pandas
pip install psutil
pip install Pygments
pip install python-dateutil
pip install pytz
pip install requests
pip install six
pip install snowballstemmer
pip install Sphinx
pip install SQLAlchemy
pip install Werkzeug